* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: #f8f9fa;
  color: #0b7285;
  font-family: 'Fira Sans', 'Segoe UI', Roboto, Helvetica, Arial,
    'source-han-sans-simplified-c', 'Hiragino Sans GB', 'Microsoft Yahei',
    sans-serif;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
}

a {
  color: inherit;
  font-weight: 400;
  text-decoration: dotted underline;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  font-family: 'Fira Mono', Menlo, Monaco, Consolas, Courier, monospace;
  hyphens: none;
}

pre.highlight {
  font-size: 0.8rem;
}

p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}

@media screen and (min-width: 1900px) {
  .wrapper {
    width: 56rem;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    display: block;
    padding: 0.8rem;
    width: 100%;
  }
}

img {
  border: 0;
  max-width: 100%;
}

@media screen and (max-width: 640px) {
  img {
    max-width: 100%;
  }
}

blockquote {
  border-left: 0.2rem solid #3bc9db;
  margin-left: 0;
  padding: 0.4rem 0.8rem;
}

.menu {
  margin-top: 0.8rem;
  text-align: left;
}

.menu-item {
  border-left: 1px solid;
  padding: 0 4px 0 6px;
}

.menu-active > a {
  text-decoration: underline;
}

.menu-item:first-of-type {
  border: 0;
  padding: 0;
}

.article {
  margin-bottom: 2rem;
  text-align: left;
}

.section {
  margin: 2rem 0 0;
}

.footer {
  border-top: 1px dotted;
  padding: 1rem 0 2rem;
  margin: 3rem 0 0;
}

.article-item {
  margin-top: 1rem;
}

.article-item:hover {
  background-color: #c5f6fa;
}

.article-header {
  position: relative;
  width: 100%;
}

.article-badge {
  float: left;
  width: 40px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  text-align: center;
}

.article-badge-read {
  background-color: #66d9e8;
}

.article-badge-skim {
  background-color: #63e6be;
}

.article-badge-unread {
  background-color: #74c0fc;
}

.article-badge-skip {
  background-color: #dee2e6;
}

.article-title {
  font-size: 1.2rem;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-time {
  color: #15aabf;
  height: 28px;
  line-height: 28px;
  /* float: right; */
  padding: 0 0 0 0.4rem;
}

.article-description {
  padding: 0.4rem 0 0;
}

.article-info {
  color: #99e9f2;
  padding: 0.4rem 0 0;
}

.article-tag {
  background-color: #0b7285;
  overflow: hidden;
  padding: 0 4px;
}

.stat {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 0.8rem 1.2rem 0;
  text-align: left;
}

.stat-item {
  margin: 0 1rem;
  text-align: center;
}

.stat-item:first-of-type {
  margin-left: 0;
}

.stat-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.stat-data {
  color: #3bc9db;
  font-size: 1rem;
  margin: 0.8rem 0 0;
}

.bookmarklet {
  max-height: 240px;
  overflow: scroll;
}
