<div class="section">
  <p>Welcome to Read Track!</p>
  <p>
    Read Track is a minimal personal reading list tracker for hackers. You may
    <a href="/page/setup">setup your devices</a> at first, read as always and
    <a href="/page/list">view your read list</a>. There is also a dashboard with
    <a href="/page/dashboard#statistics">statistics data</a> and
    <a href="/page/dashboard#status">server status</a>.
  </p>
  <p>
    Read Track is
    <a href="https://github.com/crispgm/read-track">open sourced</a>. You keep
    your instance on and own your data completely.
  </p>
  <p>
    Read Track serves only one user by each instance. You may
    <a href="/login">login</a> with Auth0 but only accessible to allowed user
    identity.
  </p>
  <p>Happy reading!</p>
</div>
