<div class="section">
  <p>
    Read Track is a minimal personal reading list tracker for hackers. You may
    <a href="/page/setup">setup your devices</a> at first, read as always and
    <a href="/page/list">view your read list</a>. There is also a dashboard with
    <a href="/page/dashboard#statistics">statistics data</a> and
    <a href="/page/dashboard#status">server status</a>.
  </p>
  <p>
    Read Track is
    <a href="https://github.com/crispgm/read-track">open source</a>. Read Track
    serves only one user by each instance. You keep your instance on and own
    your data completely.
  </p>
  <p>Happy reading!</p>
</div>
