<!DOCTYPE html>
<html>
  <head>
    <title>Read Track</title>
    <meta charset="UTF-8">
    <meta name="description" content="Personal reading list"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap">
    <link rel="stylesheet" href="/public/assets/css/style.css">
  <!-- <link rel="icon" type="image/x-icon" href="/image/logo.png"> -->
  </head>
  <body>
    <div class="wrapper">
    <div class="content-wrapper">
      <h1>Welcome to Read Track!</h1>
      </div>
    </div>
  </body>
</html>
