<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - Read Track</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Personal reading list" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Mono&display=swap"
    />
    <link rel="stylesheet" href="/public/static/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/public/static/image/logo.png" />
    <script src="https://unpkg.com/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    {% if highlight %}
    <link
      rel="stylesheet"
      href="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/nord.min.css"
    />
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>
    {% endif %}
    {% if vue %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    {% endif %}
  </head>
  <body>
    <main>
      <div class="wrapper">
        <nav class="menu">
          <span class="menu-item{% if path == "/index" %} menu-active{% endif %}">
            <a href="/">Home</a>
          </span>
          <span class="menu-item{% if path == "/page/list" %} menu-active{% endif %}">
            <a href="/page/list">List</a>
          </span>
          <span class="menu-item{% if path == "/page/dashboard" %} menu-active{% endif %}">
            <a href="/page/dashboard">Dashboard</a>
          </span>
          <span class="menu-item{% if path == "/page/setup" %} menu-active{% endif %}">
            <a href="/page/setup">Setup</a>
          </span>
        </nav>
        <div class="article">{{ content }}</div>
        <div class="footer">
          <footer>
            <p>Copyright &copy; David Zhang. Powered by <a href="https://fly.io/">fly.io</a>.</p>
          </footer>
        </div>
      </div>
    </main>
    {% if highlight %}
    <script>
      hljs.highlightAll();
    </script>
    {% endif %}
  </body>
</html>
